.learning-resources {
    background: linear-gradient(90deg, rgba(26,51,119,1) 0%, rgba(19,39,126,1) 0%, rgba(0,13,36,1) 100%);
    min-height: 100vh;
    width: 100vw; /* Ensure the width covers the full viewport width */
    overflow: hidden; /* Prevent scrollbars if the image slightly overflows */
}

.resources {
    background-image: url('assets/ccctheme/design3.png');
    background-repeat: no-repeat;
    

}
